apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - git::https://github.com/pomerium/ingress-controller.git//config/default?ref=v0.21.2
  - external-dns-configmap.yaml
patchesStrategicMerge:
  - patch-proxy-external-dns.yaml