apiVersion: apps/v1
kind: Deployment
metadata:
  name: pomerium
spec:
  template:
    spec:
      containers:
        - name: pomerium
          imagePullPolicy: IfNotPresent
          image: pomerium/ingress-controller:v0.28.0
          imagePullSecrets:
            - name: dockerconfigjson-github-com
          resources:
            limits:
              cpu: 5
              memory: 4Gi
            requests:
              cpu: 300m
              memory: 200Mi
      nodeSelector:
        glueops.dev/role: "glueops-platform"
      tolerations:
        - key: "glueops.dev/role"
          operator: "Equal"
          value: "glueops-platform"
          effect: "NoSchedule" 
